/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9fac8;
}

.logo {
  height: 3.2rem;
  margin-left: -1.8rem;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  padding: 3.2rem 5.2rem 3rem 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #51cf66;
}

/* HERO */

.section-hero {
  background-image: linear-gradient(to bottom, #e9fac8, #d3f9d8);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 53%;
  margin-left: 10rem;
  margin-top: 2rem;
  border-radius: 5px;
}

.hero-img-box {
  position: relative;
  z-index: 9999;
}

.hero-img-box:before,
.hero-img-box:after {
  content: "";
  display: block;
  border-radius: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.hero-img-box:before {
  background-color: #8ce99a;
  z-index: -2;
  transform: translate(-63%, -48%);
  width: 58%;
  padding-bottom: 87%;
}

.hero-img-box:after {
  background-color: #69db7c;
  z-index: -1;
  transform: translate(-30%, -48%);
  width: 35%;
  padding-bottom: 87%;
}

.btn.btn--hero {
  color: #fff;
  background-color: #40c057;
  border-radius: 100px;
}

.btn.btn--hero:hover {
  background-color: #51cf66;
}

/* FEATURED */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-header {
  text-align: center;
}

.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-weight: 600;
  margin-bottom: 2.4rem;
  color: #888;
}

.featured-icon {
  height: 2.2rem;
  width: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #f1f3f5;
  padding: 1.2rem;
  border-radius: 50%;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* How it works */

.section-how {
  padding: 10.8rem 0;
}

.step-box {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  padding: 4.8rem 2.4rem 6.2rem 2.4rem;
  border-radius: 11px;
  transition: all 0.4s;
}

.step-box:hover {
  transform: translateY(-2rem);
}

.step-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.step-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.4rem;
}

.step-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #51cf66;
}

.step-special {
  transform: translateY(5.4rem);
}

.step-number {
  text-align: end;
  font-size: 2.2rem;
  color: #69db7c;
  margin-bottom: 1.2rem;
}

/* PRODUCTS */

.section-products {
  padding: 9.6rem 0;
}

.product-header {
  text-align: center;
}

.product-icon {
  width: 5rem;
  height: 5rem;
  background-color: #b2f2bb;
  border-radius: 50%;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.product-icon-f {
  background-color: #ffe066;
  margin-top: 5rem;
}

.sh-food {
  color: #fab005;
}

.product-icon-s {
  background-color: #dee2e6;
  margin-top: 2rem;
}

.sh-essentials {
  color: #868e96;
}

.sh {
  margin-bottom: 3rem;
  position: relative;
}

.sh-food:before,
.sh-elec:before,
.sh-essentials:before {
  content: "";
  display: block;
  width: 12rem;
  height: 0.2rem;
  position: absolute;
  left: 36%;
  top: 50%;
}

.sh-food:after,
.sh-elec:after,
.sh-essentials:after {
  content: "";
  display: block;
  width: 12rem;
  height: 0.2rem;
  position: absolute;
  right: 36%;
  top: 50%;
}

.sh-food:before,
.sh-food:after {
  background: #fab005;
}

.sh-essentials:before,
.sh-essentials:after {
  background: #868e96;
}

.sh-elec:before,
.sh-elec:after {
  background: #b2f2bb;
}

.inner-product-icon {
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.2rem;
  background-color: #b2f2bb;
  border-radius: 50%;
}

.inner-icon-f {
  background-color: #ffec99;
}

.inner-icon-s {
  background-color: #e9ecef;
}

.product-icon-special {
  background-color: #fcc2d7;
}

.product-box {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  border-radius: 11px;
  padding: 4.6rem 2.8rem 4rem 2.8rem;
  margin: 0 5rem;
  transition: all 0.4s;
  background-color: #fff;
  background-color: #fff9db;
}

.pb-elec {
  background-color: #ebfbee;
}

.pb-s {
  background-color: #f8f9fa;
}

.pb-spec {
  background-color: #fff0f6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 14px;
}

.product-box:hover {
  transform: scale(1.05);
}

.product-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.4rem;
}

.product-box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.4rem;
}

/* TESTIMONIALS */

.section-testimonials {
  padding: 9.6rem 0;
  background-color: #ebfbee;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 9.6rem;
  row-gap: 8rem;
  column-gap: 8rem;
}

.testimonial:nth-child(2) {
  transform: translateY(6rem);
}

.testimonial:nth-child(5) {
  margin-top: 3rem;
  transform: translateY(6rem);
}

.testimonial {
  background-color: #d3f9d8;
  padding: 1.2rem 2.4rem 2.4rem 2.4rem;
  border-radius: 4px;
  transition: all 0.45s;
}

.testimonial:hover {
  /* transform: scale(1.005); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonial-img-box {
  display: flex;
  justify-content: center;
}

.testimonial-img {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  margin-top: -4rem;
  border: 7px solid #fff;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  text-align: center;
}

.testimonial-info {
  font-size: 1.4rem;
  color: #63666a;
  text-align: center;
  margin-top: 2.4rem;
}

.testimonial-info span {
  font-size: 1.6rem;
  font-weight: 600;
  color: #40c057;
}

/* PRICING */

.section-pricing {
  padding: 9.6rem 0;
}

.container-pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pricing-plan {
  border-radius: 11px;
  padding: 3.2rem;
}

.pricing-plan-lite {
  padding: 3.2rem;
  border: 2px solid #8ce99a;
  justify-self: stretch;
}

.pricing-plan-premium {
  padding: 3.2rem;
  background-color: #d3f9d8;
  transform: scale(1.05, 1.1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 12px;
}

.pricing-plan-superior {
  padding: 3.2rem;
  border: 2px solid #8ce99a;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #51cf66;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.pricing-cta {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-top: 6rem;
}

/* CTA FORM */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  background-color: #51cf66;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.heading-secondary.form-heading {
  color: #fff;
  text-align: center;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #fff;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  /* background-color: # */
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form ::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn.btn--form {
  color: #fff;
  background-color: #2b8a3e;
  border-radius: 100px;
}

.btn.btn--form:hover {
  background-color: #37b24d;
}

.contact-box {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ctb-1 {
  transform: translateY(20rem);
  transform: translateX(-6rem);
}
/* .ctb-2 {
  transform: translateY(6rem);
} */

.contact-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #a9a9a9;
  letter-spacing: 1.4px;
  margin-bottom: 1.2rem;
}

.contact-number {
  font-size: 1.8rem;
  color: #444;
}

.contact-text-box {
  background-color: #f8f9fa;
  padding: 6rem 5rem 6rem 5rem;
  border-radius: 10px;
  border: 8px solid #d3f9d8;
}

.form-icon {
  margin-bottom: 1.2rem;
  width: 4.2rem;
  height: 4.2rem;
  color: #444;
  background-color: #f1f3f5;
  padding: 1.2rem;
  border-radius: 50%;
}

/* FOOTER */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  margin-left: -8.5rem;
  height: 3.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.2rem;
  width: 2.2rem;
  color: #51cf66;
  transition: all 0.4s;
}

.social-icon:hover {
  color: #37b24d;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.6rem;
  text-align: start;
  text-transform: uppercase;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address {
  margin-bottom: 2.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.7rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #51cf66;
}

.footer-p {
  margin-top: -1.8rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #777;
  margin-bottom: 3rem;
}
